@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply font-source-code-pro;
}

.brutal-border {
	@apply rounded-lg border-[3px] border-black;
}

.brutal-btn {
	@apply brutal-border cursor-pointer py-1 px-3 hover:bg-yellow-300;
}

.ReactModal__Content {
	border-radius: 0.5rem !important;
	border-width: 3px !important;
	border-color: black !important;
}

.ReactModal__Overlay {
	opacity: 0;
	transform: translateY(-100px);
	transition: all 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
	transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
	opacity: 0;
	transform: translateY(-100px);
}
